/* ==========================================================================
Medium Layout: 1280px.
========================================================================== */
@media only screen and (min-width: 992px) and (max-width: 1200px) { 










}
/* ==========================================================================
Tablet Layout: 768px. 
========================================================================== */
@media only screen and (min-width: 768px) and (max-width: 991px) { 













}
/* ==========================================================================
Wide Mobile Layout: 480px.
========================================================================== */
/* @media only screen and (min-width: 480px) and (max-width: 767px) {  */
@media only screen and (min-width: 200px) and (max-width: 767px) { 
.slicknav_menu{
display: block;
}

#header_area .col-md-9{
    display: none;
}

.logo_img a img {
    max-width: 150PX;
    height: auto;
}
.slicknav_btn{
    right: 20px; 
    top: 40px;
}
.slicknav_nav{
    border-radius: 0px 10px 10px;
    left: 0px;
    padding: 30px 5px;
    position: fixed;
    top: 0;
}


}
/* ==========================================================================
Mobile Layout: 320px.
========================================================================== */
/* @media only screen and (min-width: 200px) and (max-width: 479px) { } */